body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    &__title {
        font-size: 4rem;
    }
    &__ball {
        width: 5%;
    }
    &__icon {
        width: 15%
    }
}

.main {
    background-image: url('/assests/1600px-SSBU-Pokémon_Stadium_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.footer {
    display: flex;
    justify-content: end;
    background-color: red;
}

.reset {
    width: 15%;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
}